.search
    form(action=`/search` method="get") 
      label Search
      input(type="text" name="query" id="query" placeholder="Search by title, author, genre or year.")
      input(type="submit" value="Submit")