.search
    form(action=`/search` method="get") 
      label Search
      if(query)
        input(type="text" name="query" id="query" value=`${query}`)
      else
        input(type="text" name="query" id="query" placeholder="Search by title, author, genre or year.")
      input(type="submit" value="Submit")